# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicit binary files
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.zip binary
*.dashboardpack binary
*.dashboardtemplate binary
